<h1><%= @video.title %></h1>

<h3><%= @video.description %></h3>

<iframe width="420" height="315" src="//www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
<br><br>
<%= link_to 'edit', edit_video_path(@video) %> |
<%= link_to "delete", "/videos/#{params[:id]}", method: :delete %> 
<br><br>
<h4>Comments</h4>
<%= form_for @comment, { url: video_comments_path(@video) } do |f| %>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>

<br><br>

<% @comments.each do |c| %>
  <%= c.content %><br>
<% end %>

