<h1><%= @sound.title %></h1>
<br>
<%= render "sounds/soundcloud_widget" %>
<br><br>
<%= link_to 'edit', edit_sound_path(@sound) %> |
<%= link_to 'delete', '/sounds/' + params[:id], method: :delete %>
<br><br>
<h4>Comments</h4>
<%= form_for @comment, {url: sound_comments_path(@sound)} do |f| %>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>

<br><br>

<% @comments.each do |c| %>
  <%= c.content %><br>
<% end %>